* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}
body {
    background: rgb(214,107,147);
background: linear-gradient(90deg, rgba(214,107,147,1) 0%, rgba(255,172,131,1) 100%);
    padding: 60px 0 0 0;
}
.dark-mode {
    background: rgb(27,22,23);
    background: linear-gradient(90deg, rgba(27,22,23,1) 0%, rgba(42,36,42,1) 100%);
}
.dark-mode button {
    background-color: rgba(255,172,131,1);
    border: 2px solid rgba(255,172,131,1);
}
.modebutton {
    background-color: #49384a;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #49384a;
    user-select: none;
}
header {
    position: fixed;
    background: none;
    width: 100%;
    padding:0 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    top: 0;
    height: 80px;
}
nav li {
    margin-right: 25px;
}
@media screen and (max-width: 600px) {
    body {
        padding: 0;
    }
    .menu {
        flex-direction: column;
        align-items: center;
    
    }
    header {
        flex-direction: column;
        height: auto;  
        padding: 25px 0; 
        position: static; 
    }
    nav li {
        margin-right: 0px;
    }
    
}
.menu {
display: flex;
align-items: center;
}

nav li:last-child {
    margin: 0
}
nav a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    transition: all 0.3s;
}

nav a:hover {
    transform: scale(1.2)
}

.logo {
    width: auto;
    height: 30px;
    transition: 0.3s;
}
.logo:hover {
transform: scale(1.2);
}
.animatedarrows {
    animation-name: moving;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternative;
  }
  @keyframes moving {
    0% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(-25px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
.images {
    min-width: 400px;
    max-width: 700px;
    width: 50%;
    display: block;
}
.intro {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    color: white;
    width: 50%;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}
h3 {
    font-size: 40px;
}
.nadpis {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    color: white;
}
.podnadpis {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    color: white;  
}
.text {
    text-align: justify;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    color: white;
    font-weight: lighter;
    width: 50%;
    margin: auto;
}
.textabout {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    color: white;
    font-weight: lighter;
    max-width: 700px;
    margin: auto;
    
}

.adela {
    max-width: 400px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.articleimage {
    max-width: 50%;
    align-items: center;
    margin: auto;
    display: block;
}
.flex-container {
    display: flex;
    align-items: center;
    margin: 120px 0;
    justify-content: center;
}
.flex-container:first-of-type {
     margin-top: 0 
    }
@media only screen and (max-width: 700px) {
    .flex-container {
        width: 100%;
        flex-direction: column;
    }
    .intro {
        font-size: 18px;
        width: 90%;
    }
    .text {
        width: 90%;
    }
    .articleimage {
        max-width: 90%;
    }
}
h2 { 
    font-weight: lighter; }
.buttonweb {
    background-color: #49384a;
    color: white;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    margin: auto;
    margin-top: 40px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #49384a;
    border-radius: 12px;
    user-select: none;
}
.buttonweb:hover {
    background-color: #119a89;
    border: 2px solid #119a89;
    color:white;
}
.buttonux {
    background-color: #da565c;
    color: white;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    margin: auto;
    margin-top: 40px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #da565c;
    border-radius: 12px;
    user-select: none;
}  
.buttonux:hover {
    background-color: #119a89;
    border: 2px solid #119a89;
    color:white;
} 
.video {
    align-items: center;
    margin: auto;
    display: block;
}
.footer {
    display: block;
    padding: 50px;
}
.footer a { 
    display: inline-block;
     transition: all .3s;
     padding-right: 15px;
    }
.footer a:hover {
    transform: translateY(-10px);
}
#image {
    height: 400px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: 25px;

}

ol {
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0px;
}
.corgi {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    list-style: none;
    border: solid 5px;
    border-color: lightpink;
    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background: lightpink;


}

li:hover {
    color: dimgray;
}

.mark {
    background: lightpink;
    color: white;

}

#image.rotatesc {
    animation: one 2s linear both infinite;
}

#image.flip {
    animation: two 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) alternate infinite;
}

#image.flash {
    animation: three 1s infinite;
}

#image.skew {
    animation: four 1s infinite;
}

#image.translate {
    animation: five 2s alternate infinite;
}

#image.pulse {
    animation: six 2s linear infinite;
}

#image.pendulum {
    animation: seven 3s ease-in infinite;
}

#image.jump {
    animation: eight 0.5s cubic-bezier(0.125, 0.230, 0.225, 0.470) alternate infinite;
}

#image.square {
    animation: nine 4s ease-out infinite;
}

#image.fade {
    animation: ten 8s linear infinite;
}

@keyframes one {
    0% {
        transform: scale(1) rotateZ(0);
    }

    50% {
        transform: scale(1.5) rotateZ(-180deg);
    }

    100% {
        transform: scale(1) rotateZ(-360deg);
    }
}

@keyframes two {
    0% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(-180deg);
    }
}

@keyframes three {
    50% {
        opacity: 0;
    }
}

@keyframes four {
    25% {
        transform: skew(-10deg, -10deg);
    }

    50% {
        transform: skew(0deg, 0deg);
    }

    75% {
        transform: skew(10deg, 10deg);
    }

    100% {
        transform: skew(0deg, 0deg);
    }
}

@keyframes five {
    50% {
        transform: translateX(100px);
    }
}

@keyframes six {
    50% {
        transform: scale(1.10);
        opacity: 0;
    }
}

@keyframes seven {
    25% {
        transform: rotate(25deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

@keyframes eight {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-80px);
    }
}

@keyframes nine {
    25% {
        transform: translate(-20%, 0);
    }

    50% {
        transform: translate(-20%, -20%);
    }

    75% {
        transform: translate(0, -20%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes ten {
    50% {
        transform: rotate(-720deg);
        opacity: 0;
    }
}
.draw {
    fill: white !important;
}
.line {
    fill: transparent;
}