* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}
body {
    background: rgb(214,107,147);
background: linear-gradient(90deg, rgba(214,107,147,1) 0%, rgba(255,172,131,1) 100%);
    padding: 60px 0 0 0;
}

header {
    position: fixed;
    background: none;
    width: 100%;
    padding:0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 80px;
}
nav li {
    margin-right: 25px;
}
@media screen and (max-width: 600px) {
    body {
        padding: 0;
    }
    .menu {
        flex-direction: column;
        align-items: center;
    
    }
    header {
        flex-direction: column;
        height: auto;  
        padding: 25px 0; 
        position: static; 
    }
    nav li {
        margin-right: 0px;
    }
    
}
.menu {
display: flex;
}

nav li:last-child {
    margin: 0
}
nav a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    transition: all 0.3s;
}

nav a:hover {
    transform: scale(1.2)
}

.logo {
    width: auto;
    height: 30px;
    transition: 0.3s;
}
.logo:hover {
transform: scale(1.2);
}
.images {
    min-width: 400px;
    max-width: 700px;
    width: 50%;
    display: block;
}
.intro {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    color: white;
    width: 50%;
    max-width: 440px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}
.nadpis {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    color: white;
}
.podnadpis {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    color: white;  
}
.text {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    color: white;
    font-weight: lighter;
    width: 50%;
}
.textabout {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    color: white;
    font-weight: lighter;
    max-width: 600px;
    
}
.adela {
    max-width: 600px;
    justify-content: center;
    align-items: center;
}
.flex-container {
    display: flex;
    align-items: center;
    margin: 120px 0;
    justify-content: center;
}
.flex-container:first-of-type {
     margin-top: 0 
    }
@media only screen and (max-width: 700px) {
    .flex-container {
        width: 100%;
        flex-direction: column;
    }
    .intro {
        font-size: 12px;
        
    }
}
h2 { 
    font-weight: lighter; }
.buttonweb {
    display: inline-block;
    background-color: #49384a;
    border: none;
    color: white;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    margin: auto;
    margin-top: 40px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #49384a;
    border-radius: 12px;
    user-select: none;
}
.buttonweb:hover {
    background-color: #119a89;
    border: 2px solid #119a89;
    color:white;
}
.buttonux {
    display: inline-block;
    background-color: #da565c;
    border: none;
    color: white;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    margin: auto;
    margin-top: 40px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #da565c;
    border-radius: 12px;
    user-select: none;
}  
.buttonux:hover {
    background-color: #119a89;
    border: 2px solid #119a89;
    color:white;
} 
.footer {
    display: block;
    padding: 50px;
}
.footer a { 
    display: inline-block;
     transition: all .3s;
     padding-right: 15px;
    }
.footer a:hover {
    transform: translateY(-10px);
}
